@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #172B4D;
  color: #e2dfdf;
  line-height: 1.6;
} 
.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

header {
  background-color: #e2dfdf;
  color: #172B4D ;
  padding: 20px 0;
  text-align: left;
}

header h1 {
  font-size: 1.8em;
  margin-bottom: 10px;
  margin-left: 20px;
  text-align: left;
}
header nav {
  display: flex;
  justify-content: left;
  gap: 25px;
  margin-left: 25px;
}
header nav a {
  color: #172B4D;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}
header nav a:hover {
  color: #e2dfdf;
}
nav ul li {
  display: inline;
  margin-right: 20px;
}

button {
  background-color: #304f7e;
  color: #172B4D;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #304f7e;
}
main {
  padding: 30px 0;
 text-align: center;
}

.card {
  background: #e2dfdf;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin-bottom: 25px;
  text-align: center;
}

.card h2,
.card h3 {
  color: #304f7e;
  margin-bottom: 10px;
}

.card .valor {
  font-size: 1.6em;
  font-weight: bold;
  margin: 10px 0;
}

.card .info {
  font-size: 0.95em;
  color: #666;
}

button {
  background-color: #304f7e;
  color: #e2dfdf;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #304f7e;
}

/* Grid de investimentos 
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* Footer 
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
  font-size: 0.9em;
}
*/
/* Reset básico 
Primária: #0052CC (azul escuro)

Secundária: #36B37E (verde confiável)

Fundo: #F4F5F7 (cinza claro)

Texto: #172B4D (cinza escuro)


